
.form-group
{
    margin-left: 800px;
    margin-top: 20px;
}

.form-control{
    margin-bottom: 20px;
    width: 20%;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.modal-header{
    background-color:#333;
    color:#fff;
}

.far.fa-window-close{
    color: white;
    margin-top: 4px;
}

.btn-primary{
    background-color: #428bca;
    border: 1px solid #428bca;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 240px;
}

.btn-primary:hover{
    background-color: #3d81bc;
    border: 1px solid #3d81bc;
}
